.container {
    margin: 20px 20px 20px 20px;
}

.platform-container {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.rating {
    width: 35px;
  }
  
  .metacritic-rating {
    display: flex;
    align-items: center;
    gap: 10px;
    img {
      width: 35px;
    }
  }

.macOS-logo, .iOS-logo {
    height: 40px;
    width: 38px !important;
    margin-bottom: 7px;
}

.platform {
    width: 60px;
    margin-top: 20px;
}

.title {
    width: 100%;
    margin-top: 20px;
}

.video-card {
    height: 100%;
}

.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    height: 100%;
}

.video {
    height: 100%;
width: 97%;
border: none;
}

.genre,.released {
    display: flex;
    gap: 10px;
}

.screenshot-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.gallery {
    margin-top: 20px;
    width: 100%;
}

.image {
    height: 200px;
    width: calc(100% + 20px);
    margin-left: 10px;
    margin-top: 10px;
    display: block;
    overflow: hidden;
}

.more-data {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    margin-bottom: 10px;
}