.container {
    margin: 20px 20px 0px 10px;
}

.screenshot-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.image{
    height: 200px;
    width: calc(100% + 20px);
    margin-left: 10px;
    margin-top: 10px;
    display: block;
    overflow: hidden;
  }