.example-card {
  background-size: cover;
}

.card-title {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(290px - 25px);
}

.card-image {
  height: 200px;
  width: 100%;
  display: block;
  overflow: hidden;
}

.example-card:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

