.example-card {
    width: 20vw;
    margin: 20px 10px 0px 10px;
    background-size: cover;
}

.content {
  margin-top: 10px;
}

.rating {
  width: 35px;
}

.metacritic-rating {
  display: flex;
  align-items: center;
  gap: 10px;
  img {
    width: 35px;
  }
}

.card-title {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(250px - 25px);
}

.card-image{
    height: 150px;
    width: 100%;
    display: block;
    overflow: hidden;
  }

.example-card:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media screen and (min-width: 1650px) {
  .example-card {
    width: 16vw;
    background-size: cover;
    height: 45vh;
  }
  .card-image{
      height: 300px;
    } 
    .card-title {
      width: 250px;
    }  
}

  @media screen and (max-width: 1250px) {
    .example-card {
      width: 50vw;
      background-size: cover;
      height: auto;
    }
    .card-image{
        height: 300px;
      } 
      .card-title {
        width: auto;
      }  
  }

  @media screen and (max-width: 900px) {
    .example-card {
        width: 50vw;
        background-size: cover;
    }
    .card-image{
        height: 40vw;
      }
  }

  @media screen and (max-width: 829px) {
    .example-card {
      width: 85vw;
      background-size: cover;
    }
    .card-image{
        height: 40vw;
      }
  }

  @media screen and (max-width: 730px) {
    .example-card {
      width: 75vw;
      background-size: cover;
    }
  }

  @media screen and (max-width: 500px) {
    .example-card {
      width: 70vw;
      background-size: cover;
    }
    .card-title {
      width: 60vw;
    }
  }
