<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{game.name}}</mat-card-title>
      <mat-card-subtitle>{{game.rating}}/5</mat-card-subtitle>
    </mat-card-header>
    <img class="card-image" [src]="game.background_image" alt="Background image">
    <mat-card-content>
      <p>
        Released: {{game.released || 'N/A'}}
    </p>
    <p>
        ESRB Rating: {{game.esrb_rating?.name || 'N/A'}}
    </p>
    <p>
        Metacritic: {{game.metacritic || 'N/A'}}
    </p>
    </mat-card-content>
  </mat-card>