.example-container {
  height: 90vh;
}
  
  .example-sidenav-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }

  .title-header {
    text-decoration: none;
    color: white;
  }